<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bookname %>
    <%= form.text_field :bookname, id: :book_bookname %>
  </div>

  <div class="field">
    <%= form.label :bookauthor %>
    <%= form.text_field :bookauthor, id: :book_bookauthor %>
  </div>

  <div class="field">
    <%= form.label :bookdetails %>
    <%= form.text_field :bookdetails, id: :book_bookdetails %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
