<p id="notice"><%= notice %></p>

<p>
  <strong>Bookname:</strong>
  <%= @book.bookname %>
</p>

<p>
  <strong>Bookauthor:</strong>
  <%= @book.bookauthor %>
</p>

<p>
  <strong>Bookdetails:</strong>
  <%= @book.bookdetails %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
